{{#each topics.topics as |topic|}}
    <div class="hiveon-topic">
        <div class="hiveon-topic-row">
            <div class="hiveon-topic-col avatar">
            </div>
            <div class="hiveon-topic-col title">
                <h4>
                    <a href='/t/{{topic.slug}}/{{topic.id}}'>{{topic.title}}</a>
                </h4>
            </div>
        </div>
        <div class="hiveon-topic-row flex">
            <div class="wrapper">
            <div class="info">
                <a class="badge-wrapper box" href="{{concat "/c/" topic.category.slug}}">
                    <span style="background-color:{{concat "#" topic.category.color}}" class="badge-category-bg" ></span>
                    <span style="color: #fff" data-drop-close="true" class="badge-category clear-badge" title="{{topic.category.description}}">
                        <span class="category-name">{{topic.category.name}}</span>
                    </span>
                </a>

                <span class="comments"><i class='fa fa-comments'></i>{{topic.posts_count}}</span>
            </div>
            <div class="posters">
                    <span class="posters-count">
                        {{topic.posters_count}}
                    </span>
                {{#each topic.users as |poster|}}
                    <a class="user" href="/u/{{poster.username}}"><img width="24px" alt="{{poster.username}}" src="{{poster.avatar_template}}" class="avatar"></a>                
                {{/each}}
            </div>
            </div>
        </div>
    </div>
{{/each}}